* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 500px;
  position: relative;
}
img {
  display: block;
  margin: auto;
}
.content {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  font-family: "Manrope", sans-serif;
  height: 100vh;
  background-image: url(./images/bg-pattern.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: hsl(230, 100%, 99%);
}
.main {
  margin-top: 35px;
  background-color: white;
  width: 500px;
  border-radius: 5px;
  padding: 35px;
  box-shadow: -5px 5px 25px 0px hsl(226, 100%, 87%);
}
.pageviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.range {
  width: 100%;
  position: relative;
  padding: 40px 0;
}
#slider {
  width: 100%;
  outline: none;
  accent-color: hsl(174, 77%, 80%);
}

#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
}
#selector {
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.selectingBtn {
  height: 40px;
  width: 40px;
  background-image: url(./images/icon-slider.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-color: hsl(174, 86%, 45%);
  background-position: center;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
}

.check {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  padding-right: 20px;
  border-bottom: 1px solid hsl(227, 43%, 90%);
  padding: 30px 0 60px 0;
}
.switch {
  position: absolute;
  transform: translate(-50%, -50%);
}
input[type="checkbox"] {
  position: relative;
  width: 50px;
  height: 25px;
  -webkit-appearance: none;
  background-color: hsl(227, 33%, 84%);
  border-radius: 20px;
  outline: none;
}
input:checked[type="checkbox"] {
  background: hsl(174, 86%, 45%);
}
input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  top: 3px;
  left: 5px;
  background: white;
}
input:checked[type="checkbox"]:before {
  left: 25px;
}
input[type="checkbox"]:hover {
  cursor: pointer;
}
input:checked[type="checkbox"]:hover {
  cursor: pointer;
}
.discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  padding: 0 5px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 600;
}
.list {
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  list-style-image: url(./images/icon-check.svg);
}
.list li {
  color: hsl(225, 20%, 60%);
  font-size: 12px;
  font-weight: 600;
  padding-left: 10px;
  line-height: 20px;
}
.submit {
  height: 40px;
  border-radius: 25px;
  padding: 0 40px;
  background-color: hsl(227, 35%, 25%);
  color: hsl(225, 20%, 60%);
  border: none;
}
.submit:hover {
  cursor: pointer;
  color: white;
}
h1 {
  color: hsl(227, 35%, 25%);
  font-size: 28px;
  font-weight: 600;
}
h4 {
  color: hsl(225, 20%, 60%);
  padding: 15px 0;
  font-size: 14px;
}
h5 {
  color: hsl(225, 20%, 60%);
  letter-spacing: 2px;
}
p {
  color: hsl(225, 20%, 60%);
  font-size: 12px;
  font-weight: 600;
}
.amount {
  font-size: 32px;
  color: hsl(227, 35%, 25%);
}
.salary {
  display: flex;
  align-items: center;
  color: hsl(225, 20%, 60%);
  font-size: 15px;
  font-weight: 600;
}
